.App {
  text-align: center;
  color: whitesmoke;
  background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding-top: 2%;
  text-shadow: 0px 4px 6px darkgrey; 
}

.cardGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  color: whitesmoke;
  width: 225px;
  border-style: solid;
  border-color: white;
  text-shadow: 0px 8px 8px darkgrey; 
  margin-top: 8%;
  background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg')
}

.card li{
  text-align: initial;
}



